
<div class="panel panel-primary">
    
    <div class="panel-heading">
        <div class="row">
            <div class="col-sm-2">
                <h3>{{petType}} (Sort:{{sort}})</h3>
            </div>
            <div class="col-sm-2">
                <button id="sort-btn" type="button" class="btn btn-default btn-sm" (click)="toggleSort()">Toggle sort</button>
            </div>

        </div>
        
        
    </div>
    
    <div class="panel-body">
        <ol class="list-group" *ngFor="let po of owners" id="{{po.OwnerGender}}-group">
            {{po.OwnerGender}}
            <li class="list-group-item" *ngFor="let p of po.PetNames; let i=index" id="{{po.OwnerGender}}_item_{{i}}">
                {{p}}
            </li>
        </ol>
    </div>

</div>